* {
    font-family: 'Noto Sans KR', sans-serif;
}

body,h1,h2,h3,h4,h5,ul{
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 156px;
    background-image: url(../image/background.jpg);
    background-position: 0% 30%;
    background-size: cover;
}

.mbcLogo{
    padding-top: 15px;
    padding-left: 20px;
}

.mbcLogo h1{
    font-size: 48px;
    line-height: 45px;
}

.navBar {
    float: right;
}

.navBar ul{
    list-style-type: none;
}

.navBar li{
    display: inline-block;
    padding-right: 30px;
    font-size: 23px;
    font-weight: 800;
}

article {
    width: 90%;
    margin: 100px auto;
}

.mainImageSlider{
    margin-bottom: 5%;
}

.mainImage{
    width: 100%;
}

.articleTitle{
    font-size: 30px;
    margin: 20px;
    padding-left: 15px;
    border-left: 10px solid black;
}

.artContentContainer{
    display: flex;
    margin-left: 25px;
}

.articleImg{
    margin-top: 7px;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 3px;
    display: inline-block;
    width: 480px;
    height: 320px;
    background-image: url(../image/전자발찌.jpg);
}

.articleContent{
    margin: 0px auto;
    font-weight: 900;
    line-height: 50px;
    width: 60%;
}

.articleContent h1 {
    font-size: 30px;
}

.contactWorks{
    display: flex;
}

.contactWorks img{
    padding-right: 10px;
}

.memberImage{
    border-radius: 50%;
}

.reportButton{
    display: inline-block;
    font-size: 20px;
    padding: 20px 40px;
    border: 3px solid black;
    background: #000;
    color: #fff;
}

.materialBox{
    margin-right: 40px;
}

.materialBox img{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 280px;
    height: 280px;

}

.memberContainer{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-gap: 50px 170px;
}

footer {
    padding: 30px 10px;
    background-color: #000;
    color: #fff;
}

.footerContent{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}